#NullpoMino Global Config
#Sat Jan 11 03:07:07 EST 2025
1.rulename.1=AVALANCHE
1.rule=config/rule/Standard.rul
1.rulename=STANDARD
0.rulefile.3=SPF.rul
0.rulefile.2=Physician.rul
updatechecker.startupCount=10
0.tuning.owReverseUpDown=false
0.rulefile.1=Avalanche.rul
name.mode.toplevel=DIG RACE
1.rulename.3=SPF
0.tuning.owMaxDAS=-1
0.tuning.owSkin=-1
1.rulename.2=PHYSICIAN
lastrule.MARATHON=
0.tuning.owRotateButtonDefaultRight=0
0.rulename=STANDARD
0.rule=config/rule/Standard.rul
lastrule.DIG\\\ RACE=
0.tuning.owMinDAS=-1
0.tuning.owMoveDiagonal=-1
1.tuning.owRotateButtonDefaultRight=0
1.rulefile.1=Avalanche.rul
1.rulefile.2=Physician.rul
1.rulefile.3=SPF.rul
0.rulefile=Standard.rul
1.rulefile=Standard.rul
global.firstSetupMode=false
name.mode=COMBO RACE
0.tuning.owDasDelay=-1
1.rule.1=config/rule/Avalanche.rul
1.rule.2=config/rule/Physician.rul
1.rule.3=config/rule/SPF.rul
lastrule.COMBO\\\ RACE=
0.rule.2=config/rule/Physician.rul
0.rulename.2=PHYSICIAN
0.rule.3=config/rule/SPF.rul
0.rulename.1=AVALANCHE
0.rule.1=config/rule/Avalanche.rul
0.rulename.3=SPF
