#NullpoMino Mode Config
#Fri Jan 10 13:01:49 EST 2025
comborace.comboColumn.-1=4
marathon.gametype=0
digrace.presetNumber=0
comborace.ceilingAdjust.-1=-2
comborace.bgmno.-1=0
marathon.enableTSpinKick=true
marathon.enableTSpin=true
digrace.big.-1=false
digrace.ranking.STANDARD.2.piece.1=0
digrace.ranking.STANDARD.2.piece.0=0
comborace.spawnAboveField.-1=true
digrace.ranking.STANDARD.2.piece.9=0
digrace.ranking.STANDARD.2.piece.8=0
marathon.version=2
digrace.ranking.STANDARD.2.piece.7=0
comborace.lineDelay.-1=0
digrace.ranking.STANDARD.2.piece.6=0
digrace.ranking.STANDARD.2.piece.5=0
digrace.ranking.STANDARD.2.piece.4=0
digrace.ranking.STANDARD.2.piece.3=0
digrace.ranking.STANDARD.2.piece.2=0
digrace.ranking.STANDARD.0.piece.8=0
digrace.ranking.STANDARD.0.piece.9=0
digrace.ranking.STANDARD.0.piece.6=0
digrace.ranking.STANDARD.0.piece.7=0
digrace.ranking.STANDARD.0.piece.4=0
digrace.ranking.STANDARD.0.piece.5=0
digrace.ranking.STANDARD.0.piece.2=0
digrace.ranking.STANDARD.0.piece.3=0
digrace.ranking.STANDARD.0.piece.0=0
digrace.ranking.STANDARD.0.piece.1=0
digrace.are.-1=0
comborace.presetNumber=0
digrace.ranking.STANDARD.0.lines.0=0
digrace.ranking.STANDARD.0.lines.2=0
digrace.ranking.STANDARD.0.lines.1=0
comborace.comboWidth.-1=4
digrace.ranking.STANDARD.0.lines.8=0
digrace.ranking.STANDARD.0.lines.7=0
digrace.ranking.STANDARD.0.lines.9=0
digrace.ranking.STANDARD.0.lines.4=0
digrace.ranking.STANDARD.0.lines.3=0
digrace.ranking.STANDARD.0.lines.6=0
digrace.ranking.STANDARD.0.lines.5=0
digrace.goaltype.-1=1
comborace.big.-1=false
marathon.enableB2B=true
digrace.denominator.-1=256
marathon.tspinEnableEZ=false
marathon.tspinEnableType=1
digrace.ranking.STANDARD.1.time.5=-1
digrace.ranking.STANDARD.2.time.8=-1
digrace.ranking.STANDARD.0.time.3=-1
comborace.areLine.-1=0
digrace.ranking.STANDARD.1.time.4=-1
digrace.ranking.STANDARD.2.time.7=-1
digrace.ranking.STANDARD.0.time.4=-1
digrace.ranking.STANDARD.1.time.3=5384
digrace.ranking.STANDARD.0.time.1=-1
digrace.ranking.STANDARD.1.time.2=4704
digrace.ranking.STANDARD.2.time.9=-1
digrace.ranking.STANDARD.0.time.2=-1
comborace.gravity.-1=4
digrace.ranking.STANDARD.1.time.1=2970
digrace.ranking.STANDARD.1.time.0=2627
digrace.ranking.STANDARD.0.time.0=-1
digrace.gravity.-1=4
comborace.are.-1=0
comborace.goaltype.-1=1
digrace.das.-1=14
digrace.ranking.STANDARD.2.time.0=-1
digrace.ranking.STANDARD.2.time.2=-1
digrace.ranking.STANDARD.0.time.9=-1
digrace.ranking.STANDARD.2.time.1=-1
comborace.denominator.-1=256
digrace.ranking.STANDARD.1.time.9=-1
digrace.ranking.STANDARD.2.time.4=-1
digrace.ranking.STANDARD.0.time.7=-1
digrace.ranking.STANDARD.1.time.8=-1
digrace.ranking.STANDARD.2.time.3=-1
digrace.ranking.STANDARD.0.time.8=-1
digrace.ranking.STANDARD.1.time.7=-1
digrace.ranking.STANDARD.2.time.6=-1
digrace.ranking.STANDARD.0.time.5=-1
digrace.ranking.STANDARD.1.time.6=-1
digrace.ranking.STANDARD.2.time.5=-1
digrace.ranking.STANDARD.0.time.6=-1
digrace.ranking.STANDARD.1.lines.4=0
digrace.ranking.STANDARD.1.lines.5=0
digrace.ranking.STANDARD.1.lines.2=28
digrace.ranking.STANDARD.1.lines.3=36
digrace.ranking.STANDARD.1.lines.8=0
marathon.big=false
digrace.ranking.STANDARD.1.lines.9=0
digrace.ranking.STANDARD.1.lines.6=0
digrace.ranking.STANDARD.1.lines.7=0
digrace.ranking.STANDARD.1.lines.0=20
digrace.ranking.STANDARD.1.lines.1=23
digrace.areLine.-1=0
comborace.lockDelay.-1=30
marathon.spinCheckType=0
marathon.enableCombo=true
digrace.lockDelay.-1=30
digrace.bgmno.-1=1
marathon.startlevel=0
digrace.lineDelay.-1=0
comborace.das.-1=14
digrace.ranking.STANDARD.2.lines.7=0
digrace.ranking.STANDARD.2.lines.8=0
digrace.ranking.STANDARD.2.lines.5=0
digrace.ranking.STANDARD.2.lines.6=0
digrace.ranking.STANDARD.2.lines.3=0
digrace.ranking.STANDARD.2.lines.4=0
digrace.ranking.STANDARD.2.lines.1=0
digrace.ranking.STANDARD.2.lines.2=0
digrace.ranking.STANDARD.2.lines.0=0
digrace.ranking.STANDARD.1.piece.2=52
digrace.ranking.STANDARD.1.piece.1=36
comborace.shapetype.-1=1
digrace.ranking.STANDARD.1.piece.0=29
digrace.ranking.STANDARD.1.piece.6=0
digrace.ranking.STANDARD.1.piece.5=0
digrace.ranking.STANDARD.1.piece.4=0
digrace.ranking.STANDARD.1.piece.3=69
digrace.ranking.STANDARD.1.piece.9=0
digrace.ranking.STANDARD.1.piece.8=0
digrace.ranking.STANDARD.2.lines.9=0
digrace.ranking.STANDARD.1.piece.7=0
