#NullpoMino Swing-frontend Config
#Sun Jan 12 22:58:15 EST 2025
option.nextshadow=false
option.maxfps=60
keynav.p0.right=39
key.p0.pause=27
mainwindow.height=477
option.perfectYield=true
joyBorder.p0=0
option.showfps=true
key.p0.giveup=122
mainwindow.y=91
option.bigsidenext=false
mainwindow.x=436
option.showbg=true
option.usenativelookandfeel=true
keynav.p0.pause=112
option.simpleblock=false
option.sevolume=1.0
option.outlineghost=false
option.se=true
button.p0.f=-1
key.p0.screenshot=116
option.perfectFPSMode=false
button.p0.e=-1
button.p0.d=-1
button.p0.c=-1
keynav.p0.framestep=78
button.p0.b=-1
keynav.p0.screenshot=116
key.p0.left=37
key.p0.retry=121
button.p0.giveup=-1
button.p0.a=-1
key.p0.down=40
keynav.p0.retry=121
option.showmeter=true
key.p0.quit=123
button.p0.pause=-1
keynav.p0.left=37
keynav.p0.giveup=122
option.sidenext=false
option.screenwidth=640
keynav.p0.up=38
keynav.p0.f=83
keynav.p0.down=40
keynav.p0.e=68
keynav.p0.d=32
keynav.p0.c=65
button.p0.screenshot=-1
keynav.p0.b=27
keynav.p0.a=10
button.p0.framestep=-1
option.syncDisplay=true
key.p0.f=83
key.p0.framestep=78
key.p0.e=65
key.p0.d=16
key.p0.c=90
option.enableframestep=false
key.p0.b=38
option.showfieldblockgraphics=false
key.p0.a=17
key.p0.up=32
mainwindow.width=450
keynav.p0.quit=123
key.p0.right=39
option.screenheight=480
option.firstSetupMode=false
button.p0.quit=-1
button.p0.retry=-1
